[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST={{CART_HOST}}
Environment=CART_PORT=8080
Environment=USER_HOST={{USER_HOST}}
Environment=USER_PORT=8080
Environment=AMQP_HOST={{RABBITMQ_HOST}}
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target